:root {
    --slate-blue-500: linear-gradient(
        90deg,
        hsla(203, 34%, 24%, 1), 
        hsla(203, 25%, 32%, 1), 
        hsla(203, 20%, 39%, 1), 
        hsla(203, 17%, 47%, 1), 
        hsla(203, 18%, 55%, 1)
    );

    --elec-blue-down: linear-gradient(90deg, hsl(212, 100%, 50%), hsl(226, 100%, 44%));
}

.bgr\:90.slate-blue-500,
.bgr\:90.slate\:blue\:500
{
    background: var(--slate-blue-500);
}

.grad--elec-blue-down {
    --grad-active: var(--elec-blue-down);
}

[grad="electric-blue"]{
    --grad-active: var(--elec-blue-down);
}

[grad="slate-blue-500"]{
    --grad-active: var(--slate-blue-500);
}