:root {
    --purple-pink-100: linear-gradient(90deg, hsl(280, 100%, 50%), hsl(340, 100%, 50%));
    --purple-pink-200: linear-gradient(90deg, hsl(280, 80%, 50%), hsl(340, 80%, 50%));
    --purple-pink-300: linear-gradient(90deg, hsl(280, 60%, 50%), hsl(340, 60%, 50%));
    --purple-pink-400: linear-gradient(90deg, hsl(280, 40%, 50%), hsl(340, 40%, 50%));
    --purple-pink-500: linear-gradient(90deg, hsl(280, 20%, 50%), hsl(340, 20%, 50%));
    --purple-pink-600: linear-gradient(90deg, hsl(280, 10%, 50%), hsl(340, 10%, 50%));
    --purple-pink-700: linear-gradient(90deg, hsl(280, 5%, 50%), hsl(340, 5%, 50%));
    --purple-pink-800: linear-gradient(90deg, hsl(280, 2%, 50%), hsl(340, 2%, 50%));
    --purple-pink-900: linear-gradient(90deg, hsl(280, 1%, 50%), hsl(340, 1%, 50%));

    --grad-grape: linear-gradient(to bottom, #462052 0%, #5A3466 25%, #6E487A 50%, #825C8E 75%, #9670A2 100%);
    --grad-pomegranite: linear-gradient(180deg, #851140 0%, #992554 25%, #AD3968 50%, #C14D7C 75%, #D56190 100%);
    --grad-pomegranite-bot: linear-gradient(to bottom, #851140 0%, #992554 25%, #AD3968 50%, #C14D7C 75%, #D56190 100%);
    --grad-pomegranite-top: linear-gradient(to top, #851140 0%, #992554 25%, #AD3968 50%, #C14D7C 75%, #D56190 100%);
    --grad-candy-grape: linear-gradient(180deg, #410392 0%, #5517A6 25%, #692BBA 50%, #7D3FCE 75%, #9153E2 100%);

    --grad-grape-lr: linear-gradient(90deg, #462052 0%, #5A3466 25%, #6E487A 50%, #825C8E 75%, #9670A2 100%);
    --grad-pomegranite-lr: linear-gradient(90deg, #851140 0%, #992554 25%, #AD3968 50%, #C14D7C 75%, #D56190 100%);
--grad-candy-grape-lr:
    linear-gradient(
        90deg,
        #410392 0%,
        #5517A6 25%,
        #692BBA 50%,
        #7D3FCE 75%,
        #9153E2 100%,
        #410392 125%,
        #5517A6 150%,
        #692BBA 175%,
        #7D3FCE 200%
);

    --grad-grape-rl: linear-gradient(-90deg, #462052 0%, #5A3466 25%, #6E487A 50%, #825C8E 75%, #9670A2 100%);
    --grad-pomegranite-rl: linear-gradient(-90deg, #851140 0%, #992554 25%, #AD3968 50%, #C14D7C 75%, #D56190 100%);
    --grad-candy-grape-rl: linear-gradient(-90deg, #410392 0%, #5517A6 25%, #692BBA 50%, #7D3FCE 75%, #9153E2 100%);

    --grad-grape-bt: linear-gradient(-180deg, #462052 0%, #5A3466 25%, #6E487A 50%, #825C8E 75%, #9670A2 100%);
    --grad-pomegranite-bt: linear-gradient(to bottom, #851140 0%, #992554 25%, #AD3968 50%, #C14D7C 75%, #D56190 100%);
    --grad-candy-grape-bt: linear-gradient(-180deg, #410392 0%, #5517A6 25%, #692BBA 50%, #7D3FCE 75%, #9153E2 100%);

    --grad-grim: linear-gradient(2deg, #623683, #764A97, #8A5EAB, #9E72BF, #B286D3 );
    --grad-bright-purp: linear-gradient(to bottom, #5601FF, #4A00DE);

}

/* Base Purples */
[grad="candy-grape"]{
    --grad-active: var(--grad-candy-grape);
}

[grad="grape"]{
    --grad-active: var(--grad-grape);
}

[grad="pomegranite"]{
    --grad-active: var(--grad-pomegranite);
}

[grad="grim"]{
    --grad-active: var(--grad-grim);
}

[grad="bright-purple"]{
    --grad-active: var(--grad-bright-purp);
}


/* Direction */
[grad="candy-grape"][grad-dir="up"]{
    background: var(--grad-candy-grape-bt);
}

[grad="candy-grape"][grad-dir="down"]{
    background: var(--grad-candy-grape);
}

[grad="candy-grape"][grad-dir="left"]{
    --grad-active: var(--grad-candy-grape-lr);
}

[grad="candy-grape"][grad-dir="right"]{
    --grad-active: var(--grad-candy-grape-rl);
}

[grad="grape"][grad-dir="up"]{
    background: var(--grad-grape-bt);
}

[grad="grape"][grad-dir="down"]{
    background: var(--grad-grape);
}

[grad="pomegranite"][grad-dir="up"]{
    background: var(--grad-pomegranite-top);
}


.text\:grad.pomegranite {
    background: var(--grad-pomegranite);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}